/* RESET */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* FUNDO */
body.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #141e30, #243b55);
}

/* CARD (LOGIN / CADASTRO) */
.login-card {
    width: 50%;
    max-width: 350px;
    min-width: 250px;

    padding: 30px;
    border-radius: 12px;

    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);

    animation: fadeIn 0.5s ease;
}

/* TÍTULO */
.login-card h3 {
    margin-bottom: 20px;
    font-weight: bold;
}

/* INPUTS */
.login-card input {
    border-radius: 8px;
    padding: 10px;
    transition: 0.3s;
}

/* FOCO */
.login-card input:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 5px rgba(13,110,253,0.5);
}

/* BOTÕES */
.login-card .btn {
    border-radius: 8px;
    padding: 10px;
    font-weight: 500;
    transition: 0.3s;
}

/* HOVER BOTÃO */
.login-card .btn:hover {
    transform: scale(1.02);
}

/* TEXTO ERRO */
#erro {
    font-size: 14px;
}

/* ANIMAÇÃO */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* RESPONSIVO */
@media (max-width: 600px) {
    .login-card {
        width: 90%;
    }
}